<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

<!--    <appender name="CONSOLE_LOG" class="org.apache.log4j.ConsoleAppender">-->
<!--        <param name="Target" value="System.out" />-->
<!--        <param name="Threshold" value="WARNING" />-->
<!--        <layout class="org.apache.log4j.PatternLayout">-->
<!--            <param name="ConversionPattern" value="%d{ABSOLUTE} %-4p [%c] %m%n" />-->
<!--        </layout>-->
<!--    </appender>-->


    <appender name="HANDLER_APPENDER_DEBUG" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="15KB" />
        <param name="maxBackupIndex" value="5" />
        <param name="file" value="target/game_progress_debug.log" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %-5p [%c] %m%n" />
        </layout>
    </appender>

    <category name="io.deeplay.reversi.handler">
        <priority value="debug"/>
        <appender-ref ref="HANDLER_APPENDER_DEBUG"/>
    </category>

</log4j:configuration>
